
root { 
    display: block;
}

body {
    background-color: #ffffff;
    color: #13afd1;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }

#ident {
    position:absolute;
    top:20px;
    left:500px;
    font-size:4em;
    color:#2a38e6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

fieldset {
    
}
#appform {
    padding-left:8px;
}

#performancefieldset {
    margin-left:40px;
}

#showtime {
    margin-left:40px;
}

#performancedate {
    margin-left:40px;
}

#addperformance {
    margin-left:40px;
}

p.description {
    font-size:0.8em;
}

#content {
    padding-left:4px;
}